

body {

}
section {

    background: #999999;
    width: 480px;
    height: 650px;
    display: block;
}
#container {
}
.lightBlueBox {
  background: lightblue;
  border: 1px solid black;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
  padding: 10px auto;
  height: 50px;
  width: 50px;
  display: inline;
  float: right;

}
.blueBox {
  background: blue;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
  padding: 10px auto;
  height: 50px;
  width: 50px;
  float: right;
}
.greenBox {
  background: green;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
  padding: 10px auto;
  height: 50px;
  width: 50px;
  float: right;
}

#box-one {
  background: red;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;
  clear: both;

}

#box-two {
  background: yellow;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;


}

#box-three {
  background: orange;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;
}

#box-four {
  background: red;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;
  clear: both;

}

#box-five {
  background: yellow;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;

}

#box-six {
  background: orange;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;

}

#box-seven {
  background: red;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;
  clear: both;

}

#box-eight {
  background: yellow;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;

}

#box-nine {
  background: orange;
  border: 1px solid black;
  margin: 20px 20px 20px 20px;
  padding: 10px auto;
  height: 100px;
  width: 100px;
  float: left;

}

.clear {
  margin: 20px 10px 20px 20px;
  height: 30px;
  width: 200px;
  display: block;
  float: left;
  clear: both;
}
.newGrid {
  margin: 20px 20px 20px 20px;
  height: 30px;
  width: 200px;
  display: block;
  float: left;

}
.chgColor {
  margin: 10px 10px 10px 10px;
  height: 30px;
  width: 150px;
  display: block;
}


