body {
  background: beige;
}

#pallete-container {
  float: right;
  display: inline;
}

.pallete-red {
  height: 50px;
  width: 50px;
  background: red;
  float:right;
  margin: 10;
}

.pallete-blue {
  height: 50px;
  width: 50px;
  background: blue;
  float: right;
  margin: 0 10px;
}

.pallete-green {
  height: 50px;
  width: 50px;
  background: green;
  float: right;

}

.clear {

}
